include ../components/forms
include ../components/text

mixin inputWithLabel(inputWithIcon = {})
    +input({
        type:inputWithIcon.inputType,
        name:inputWithIcon.inputName,
        id:inputWithIcon.inputId,
        placeholder:inputWithIcon.inputPlaceholder,
        class:inputWithIcon.inputClass
    })
    if inputWithIcon.label
        +labelText({
            for:inputWithIcon.labelFor,
            class:inputWithIcon.labelClass,
            text:inputWithIcon.labelText
        })