doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
        meta(name="author", content="RAMY LEE")
        title BAT Membership 화면 현황판

        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap")
        link(rel="stylesheet", href="css/style.css")
    body 
        div.status-info
            h1.status-info__title BAT 코리아 Membership 퍼블리싱 현황판
            p.status-info__sub-title 2017 ~ 2019 운영 / 현재 코드는 develop 버전.
        div.status-tabs#tab
            ul.status-tabs__tab
                li.active(data-idx="1")
                    span.status-tabs__title

        table 
            caption BAT Membership 화면 현황판


        
