@charset "utf-8";

/* --------------------------------- 글로 미니 보물찾기 이벤트 전용 css ---------------------------------  */ 
.sub.campaign .camp_glomini .vod {background-color:transparent; overflow:hidden;}
.sub.campaign .camp_glomini  .sec_top,
.sub.campaign .camp_glomini  .sec_btm {text-align:center;}
.sub.campaign .camp_glomini  .sec_top {box-shadow:none;}
.sub.campaign .camp_glomini  .sec_btm {padding:0; background-repeat:no-repeat; background-position:0 0;}

/* 태블릿공통 ~ 웹 */ 
@media (min-width:738px) {
	.sub.campaign .camp_glomini  .sec_top,
	.sub.campaign .camp_glomini  .sec_btm {width:1160px; margin:0 auto;}
	.sub.campaign .camp_glomini  .sec_btm {margin-top: -3px;background-image:url('../images/bg_glomini.jpg');}
	.sub.campaign .camp_glomini  .sec_btm .txt_btm {padding: 25px 0 30px;}
	
	

}


@media (min-width:738px) and (max-width:1024px){
	.sub.campaign .camp_glomini .sec_top,
	.sub.campaign .camp_glomini .sec_btm {width:100%; margin:0;}
	.sub.campaign .camp_glomini  .sec_btm {margin:-0.4rem 0 2rem; background-image:url('../images/bg_glomini_m.jpg'); background-size: 102.5%;}
	.sub.campaign .camp_glomini  .sec_btm .txt_intro {padding:50px 0 0;}
	.sub.campaign .camp_glomini  .sec_btm .txt_info {padding:5rem 0 0;}
	.sub.campaign .camp_glomini .vod {width:100% !important;}
	.sub.campaign .camp_glomini .vod .area_video{margin:0; width:100%;}
	.sub.campaign .camp_glomini .vod.info01 {height:auto !important; margin-top:3.4rem !important;}
	.sub.campaign .camp_glomini .vod.info02 {height:auto !important;}

}
/* 태블릿 상세 */
@media (min-width:1024px) and (max-width:1024px){
	.sub.campaign .camp_glomini .vod.info01 {height:706px !important;margin-top:13.4rem !important;}
	.sub.campaign .camp_glomini .vod.info02 {height:435px !important;}
}

@media (max-width:737px) {
	.sub.campaign .camp_glomini  .sec_top,
	.sub.campaign .camp_glomini  .sec_btm {width:100%; margin:0;}
	.sub.campaign .camp_glomini  .sec_btm {margin:-0.3rem 0 2rem; background-image:url('../images/bg_glomini_m.jpg');  background-size: 100%;}
	.sub.campaign .camp_glomini  .sec_btm .txt_intro {padding:2rem 0 0;}
	.sub.campaign .camp_glomini .vod {width:100% !important; padding:0; margin-top:0 !important;}
	.sub.campaign .camp_glomini .vod.info01 {height:auto !important; padding-top:1.1rem !important;}
	.sub.campaign .camp_glomini .vod.info02 {height:auto !important;}
	.sub.campaign .camp_glomini .vod .area_video{margin:0; width:100%;}
	.sub.campaign .camp_glomini img {width:100% !important; padding:0; margin-top:0 !important;}
	.sub.campaign .camp_glomini  .sec_btm .txt_btm {padding-bottom:2rem;}
	.sub.campaign .camp_glomini  .sec_btm .txt_btm img {width:95% !important;}
	

}

/* 모바일 상세 */
@media (min-width:375px) and (max-width:376px) {
	
}

@media (min-width:377px) and (max-width:420px){
	.sub.campaign .camp_glomini .vod.info01 {padding-top:17px !important;}
}

/* 핸드폰 가로 사이즈 */
@media (min-width:640px) and (max-width:736px){
	.sub.campaign .camp_glomini .vod.info01 {padding-top:37px !important;}

}