mixin titleH2(titleH2Info= {})
    h2(class = titleH2Info._class)=titleH2Info._text

mixin titleH3(titleH3Info= {})
    h2(class = titleH3Info._class)=titleH3Info._text

mixin titleH4(titleH4Info= {})
    h2(class = titleH4Info._class)=titleH4Info._text