mixin titleH2(titleH2Info= {})
    h2(class = titleH2Info.class)=titleH2Info.text

mixin titleH3(titleH3Info= {})
    h2(class = titleH3Info.class)=titleH3Info.text

mixin titleH4(titleH4Info= {})
    h2(class = titleH4Info.class)=titleH4Info.text