extends templates/layout

block content
    div.status-board
        div.status-info
            h1.status-info__title BAT 코리아 Membership 퍼블리싱 현황판
            ul.status-info__desc
                li [2017 ~ 2019 운영] / [2022 기존 소스 develop 버전(원본 소스와 상이)]
                li 웹표준 준수 / 반응형 사이트
                li published by BORAM LEE &lt;boram1073@gmail.com&gt; / designed by CHLOE KIM &lt;hezle@nate.com&gt;
            
        table.status-tbl
            caption BAT Membership 화면 현황판
            colgroup 
                col(style="width:15%;")
                col(style="width:25%;")
                col(style="width:23%;")
                col(style="width:auto;")
            thead 
                tr 
                    th(scope="col") 구분
                    th(scope="col") 화면명
                    th(scope="col") 상세내용
                    th(scope="col") 비고
            tbody 
                tr 
                    th(scope="row", rowspan="3") Login
                    td 
                        a(href="html/login/login.html", target="_blank", title="새 창") login
                    td 로그인 화면
                    td 
                        | * 비밀번호 찾기 팝업은 레이어 팝업 형태로 진행
                        br
                        br
                        | * 모바일에선 체크박스와 라디오 버튼 스타일 입혀서 진행(디폴트 디자인 -> 새로 디자인된 스타일)
                        br
                        br
                        | * GT, KA 로그인 화면은 아이디, 패스워드 입력창만 존재/관리자 로그인 시 우측 상단 버튼 클릭 하면 인증번호 입력창이 나옴(총 3개의 입력창 존재)
                tr 
                    td 
                        a(href="html/login_find_pw.html", target="_blank", title="새 창") login_find_pw
                    td 비밀번호 찾기 팝업
                    td 
                        | * 기본 레이어 팝업이며 다이얼로그 옵션에서 rwd 클래스 추가
                        br
                        | * 모바일 모드에서 뒷 배경에 검은 투명 레이어가 깔림(모든 레이어 팝업 동일)
                tr 
                    td 
                        a(href="html/login_change_pw.html", target="_blank", title="새 창") login_change_pw
                    td 비밀번호 변경 팝업
                    td -
                tr 
                    th(scope="row", rowspan="2") Main portal
                    td 
                        a(href="html/main_GT.html", target="_blank", title="새 창") main_GT
                    td 메인 화면 - GT 유저
                    td -
                tr 
                    td 
                        a(href="html/main_KA.html", target="_blank", title="새 창") main_KA
                    td 메인 화면 - KA 유저
                    td -
                tr 
                    th(scope="row", rowspan="4") Common popup
                    td 
                        a(href="html/pop_terms_of_use.html", target="_blank", title="새 창") pop_terms_of_use
                    td 약관동의 팝업
                    td 
                        | * checkbox와 radio 를 사용할 때는 input 요소와 label이 꼭 함께와야 하며, 아래 예시와 같이 label 태그안에 빈 span 태그도 함께 와야함 
                        br
                        br
                        |   EX) 
                        br
                        |     &lt;label&gt; 
                        br
                        |     &lt;span&gt;&lt;/span&gt; 
                        br
                        |     정보수신에 동의합니다.
                        br
                        |     &lt;/label&gt;
                tr 
                    td 
                        a(href="html/pop_welcome.html", target="_blank", title="새 창") pop_welcome.html
                    td 방문 축하 팝업
                    td * alert,confirm 창으로 기본 레이어 팝업과 디자인이 다름 다이얼로그 옵션에서 "rwd type2" 클래스 추가
                tr 
                    td 
                        a(href="html/pop_final_warning.html", target="_blank", title="새 창") pop_final_warning
                    td 비밀번호 변경 경고 팝업
                    td -
                tr 
                    td 
                        a(href="html/pop_new_product.html", target="_blank", title="새 창") pop_new_product
                    td 신제품 안내 팝업(글로디바이스)
                    td * 기본 레이어 팝업과 디자인이 다름 다이얼로그 옵션에서 "rwd type4" 클래스 추가
                tr 
                    th(scope="row", rowspan="4") Campaign
                    td 
                        a(href="html/campaign_quiz.html", target="_blank", title="새 창") campaign_quiz
                    td 퀴즈 풀기
                    td 
                        | * 퀴즈 풀기 첫 화면 로딩 시 풀어야 하는 첫번째 문제에 focus 들어가 있고, 풀고 다음 문제로 넘어갈 시 focus 이동 
                        br
                        br
                        |   EX) 
                        br
                        | focus 가 있을 때 &lt;div class="area_question on"&gt; 이렇게 area_question에 on 클래스 추가
                        br
                        br
                        | * 답변 선택 시, hover 시 (list_answer > li > a에 on 클래스 추가) 파란색 효과
                        br
                        br
                        | * 정답 확인 후 정답(list_answer > li > a에 wrong 클래스 추가)일 경우 초록색 효과 / 오답(list_answer > li > a에 correct 클래스 추가)일 경우 붉은색 효과 이며 정,오답 이외의 답변(list_answer > li > a에 theothers 클래스 추가)은 옅은 회색 처리 됨
                        br
                        br
                        | * 하단 버튼은 임시로 3가지를 다 넣어놓은 상태, 페이지별로 버튼이 바뀜
                tr 
                    td 
                        a(href="html/pop_campaign_quiz.html", target="_blank", title="새 창") pop_campaign_quiz
                    td 퀴즈 풀기 축하 팝업
                    td * 기본 레이어 팝업과 디자인이 다름 다이얼로그 옵션에서 "rwd type2" 클래스 추가
                tr 
                    td 
                        a(href="html/campaign_introduction.html", target="_blank", title="새 창") campaign_introduction
                    td 캠페인 제품별 소개
                    td -
                tr 
                    td 
                        a(href="html/campaign_glo-mini.html", target="_blank", title="새 창") campaign_glo-mini
                    td 캠페인 소개(글로 미니)
                    td -
                tr 
                    th(scope="row", rowspan="2") My superpass
                    td 
                        a(href="html/my-superpass.html", target="_blank", title="새 창") my-superpass
                    td My 슈퍼패스
                    td 
                        | * 판매요령 버튼 클릭 하면 레이어 팝업 뜸(RWD1008) 
                        br
                        br
                        | * 주문실적, 보너스 포인트 기회 비활성화 처리시 dl 태그에 "disabled"클래스 추가(해당 코드 영역에도 설명이 되어있음) 
                        br 
                        br 
                tr 
                    td 
                        a(href="html/pop_my-superpass_point.html", target="_blank", title="새 창") pop_my-superpass_point
                    td 포인트 조회 팝업
                    td 
                        | * 기본 레이어 팝업과 디자인이 다름 다이얼로그 옵션에서 "rwd type3" 클래스 추가 
                        br
                        br
                        | * 포인트 내역 조회 텝 내 리스트는 max 7줄이며, 페이징 처리됨 
                        br
                        br
                        | * 컨텐츠 영역 넘칠 시 스크롤 처리됨
                tr 
                    th(scope="row", rowspan="4") Store helper
                    td 
                        a(href="html/store-helper_raw.html", target="_blank", title="새 창") store-helper_raw
                    td 유용한 법률 상식
                    td -
                tr 
                    td 
                        a(href="html/store-helper_our-town.html") store-helper_our-town
                    td 우리 동네 상권
                    td * 우리동네 top5 제품 섹션 내 작은 원형 클릭 시 우리 제품에 대한 관련정보가 담긴 팝업 뜸(현재 정해진 디자인이 따로 없어 제품소개 팝업과 동일하게 진행)
                tr 
                    td 
                        a(href="html/store-helper_faq.html", target="_blank", title="새 창") store-helper_faq
                    td 자주 묻는 질문
                    td -
                tr 
                    td 
                        a(href="html/store-helper_tip.html", target="_blank", title="새 창") store-helper_tip
                    td 담배 판매 팁
                    td -
                tr 
                    th(scope="row", rowspan="4") Brand introduction
                    td 
                        a(href="html/brand-introduction.html", target="_blank", title="새 창") brand-introduction
                    td 제품 소개 메인
                    td -
                tr 
                    td 
                        a(href="html/brand-introduction_glo.html", target="_blank", title="새 창") brand-introduction_glo
                    td 글로 제품 소개
                    td -
                tr 
                    td 
                        a(href="html/brand-introduction_glo-story.html", target="_blank", title="새 창") brand-introduction_glo-story
                    td 글로 제품 이야기
                    td -
                tr 
                    td 
                        a(href="html/pop_brand-introduction_glo.html", target="_blank", title="새 창") pop_brand-introduction_glo
                    td 글로 제품 팝업
                    td * 기본 레이어 팝업과 디자인이 다름 다이얼로그 옵션에서 rwd type5 클래스 추가
                tr 
                    th(scope="row", rowspan="2") BAT News
                    td 
                        a(href="html/bat-news_list.html", target="_blank", title="새 창") bat-news_list
                    td BAT 소식 목록
                    td -
                tr 
                    td 
                        a(href="html/bat-news_detail.html", target="_blank", title="새 창") bat-news_detail
                    td BAT 소식 상세
                    td -
                        





        
