include ../components/visualResource
include ../components/button
include ../components/text
include ../utilities/form_input-label

doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
    body 
        section.login 
            .login-inner 
                .login__box
                    .login__header
                        h1 
                            +image({
                                src:'../img/login/logo_superpass.png',
                                alt:'SUPER PASS'
                            })
                    .login__body
                        form(action="", method="post")
                            fieldset 
                                legend.blind login
                                .input-wrap.insert-id 
                                    +inputWithLabel({
                                        label:'true',
                                        labelFor:'insertId',
                                        labelClass:'blind',
                                        labelText:'아이디',
                                        inputType:'text',
                                        inputName:'insertId',
                                        inputId:'insertId',
                                        inputPlaceholder:'아이디를 입력해주세요',
                                        inputClass:'input-text'
                                    })
                                .input-wrap.insert-pw 
                                    +inputWithLabel({
                                        label:'true',
                                        labelFor:'insertPw',
                                        labelClass:'blind',
                                        labelText:'비밀번호',
                                        inputType:'password',
                                        inputName:'insertPw',
                                        inputId:'insertPw',
                                        inputPlaceholder:'비밀번호를 입력해주세요',
                                        inputClass:'input-text'
                                    })
                                .input-wrap.certify-num 
                                    +inputWithLabel({
                                        label:'true',
                                        labelFor:'insertNum',
                                        labelClass:'blind',
                                        labelText:'번호인증',
                                        inputType:'text',
                                        inputName:'insertNum',
                                        inputId:'insertNum',
                                        inputClass:'input-text'
                                    })
                                    +button({
                                        type:'button',
                                        extraClass:'btn-certification',
                                        text:'인증번호 요청'
                                    })
                                .input-wrap.save-id
                                    +inputWithLabel({
                                        label:'true',
                                        labelFor:'saveId',
                                        labelText:'아이디 저장',
                                        inputType:'checkbox',
                                        inputName:'saveId',
                                        inputId:'saveId',
                                    })
                                .btn-wrap 
                                    +button({
                                        type:'button',
                                        id:'fnLogin',
                                        extraClass:'btn-login',
                                        text:'로그인'
                                    })
                                .extra-fucntion-wrap 
                                    +button({
                                        type:'button',
                                        id:'fnFindId',
                                        extraClass:'btn-find',
                                        text:'아이디 찾기'
                                    })
                                    +button({
                                        type:'button',
                                        id:'fnFindPw',
                                        extraClass:'btn-find',
                                        text:'비밀번호 찾기'
                                    })

                    .login__footer 
                        small Copyright © BAT Korea All rights reserved.
                    